@tailwind base;
@tailwind components;

.add-user-form-label {
  @apply block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2;
}
.add-user-form-input {
  @apply appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-3 px-4 mb-3 leading-tight;
}
.add-user-form-input:focus {
  @apply outline-none bg-white;
}
.btn-blue {
  @apply bg-blue-500 text-white font-bold py-2 px-4 rounded;
}
.btn-blue:hover {
  @apply bg-blue-700;
}
.btn-red {
  @apply bg-red-600 text-white font-bold py-2 px-4 rounded-full inline-flex items-center;
}
.btn-red:hover {
  @apply bg-red-800;
}

@tailwind utilities;
